SECRET_KEY=change-me
DEBUG=0
ALLOWED_HOSTS=.vercel.app,127.0.0.1,localhost

EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
DEFAULT_FROM_EMAIL=no-reply@example.com
SITE_URL=http://127.0.0.1:8000
